/* GENERIC RULES */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: lightblue;
}

main{
  width: 60vw;
  margin: auto;
}

/* SPECIFIC RULES */

header div{
  font-family: 'Nerko One', cursive;
  font-size: 100px;
  text-align: center;
  color: white;
  margin: 30px;
}

.row{
  margin: auto;
  text-align: center;
}

.card{
  background: white;
  width: 200px;
  height: 275px;
  display: inline-block;
  border-radius: 10px;
  margin: 10px;
}

img{
  width: 172px;
  position: relative;
  top: 20px;
}

.card div{
  font-family: 'Nerko One', cursive;
  font-size: 35px;
  color: pink;
  margin: 10px;
  /* position: relative;
  top: 30px */
}

/* FOOTER */

footer div{
  margin: 30px auto;
  font-family: 'Nerko One', cursive;
  font-size: 30px;
  text-align: center;
}
