/* GENERIC RULES */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: lightblue;
}

header div{
  font-family: 'Nerko One', cursive;
  font-size: 100px;
  color: white;
  text-align: center;
}

main{
  width: 80vw;
  height: 800px;
  margin:auto;
}



/* SPECIFIC RULES */

section{
  width: 70vw;
  margin: auto;
  text-align: center;
}

.card{
  background-color: white;
  width: 200px;
  height: 250px;
  display: inline-block;
  border-radius: 10px;
  margin: 5px;
  position: relative;
}

img{
 width: 180px;
 position: absolute;
 top: 10px;
 left: 20px;
}

.name{
  font-family: 'Nerko One', cursive;
  font-size: 30px;
  color: pink;
  position: absolute;
  bottom: 10px;
  left: 30px;
}

div div:last-child{
  background-image: url('../img/pattern.png');
  background-size: contain;
  width: 200px;
  height: 250px;
  border-radius: 10px;
  position: absolute;
}

div div:last-child:hover{
  display: none;
}


/* FOOTER */

footer div{
  font-family: 'Nerko One', cursive;
  font-size: 30px;
  text-align: center;
  margin: 30px;
}
